@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

html, body {
  overscroll-behavior-x: none;
  overflow-x: hidden;
  @apply text-slate-900;
}

.y-scroll-lock {
  overflow-y: hidden;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

select {
  @apply border border-slate-300 rounded-md;
  @apply px-2 py-1; 
}

input {
  @apply border border-slate-300 rounded-md;
  @apply px-2 py-1; 
}